

/*Google fonts*/@import url('https://fonts.googleapis.com/css?family=Raleway');

.mat-toolbar{background-color: #23557e; /* Cambiar el color de fondo a azul */}

h4{
  font-size: 10px;
  font-weight: 500;
  color: #878788;
  text-align: center;
  margin-bottom: 10px;

}

.izq{
  display: flex;
  float: left;
  justify-content: space-between;
}

.der{
  display: flex;
  float: right;
  justify-content: space-between;
}


/* @media (max-width: 767px) {
  .hide-label {
    display: none;
  }

} */
